<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shardingseata3.demo.mapper.OrderShardingMapper" >
    <select id="selectAllOrder" resultType="com.shardingseata3.demo.pojo.OrderSharding">
        select * from t_order order by orderId desc
	</select>
    <insert id="insertOneOrder" parameterType="com.shardingseata3.demo.pojo.OrderSharding" useGeneratedKeys="true" keyProperty="orderId" >
		insert into t_order(orderId,goodsName)
		values(
			#{orderId},#{goodsName}
		)
     </insert>
</mapper>